[2022-08-24 07:52] xinglunju commented on #37
This SB is not supposed to be used for science. Should I close this issue? @keflavich

[2022-08-24 09:00] d-l-walker commented on #129
Hi @xinglunju -- I think that SPW 29 looks ... _reasonable_. It's not ideal, but it's tricky to avoid contamination with this SPW due to the widespread line emission. But yeah, we could definitely improve it. If you want to proceed with re-running the imaging, I have done the following to achieve this:

- Download the relevant .ms files and the cont.dat file from globus
- Edit the the cont.dat fil

[2022-08-24 09:55] d-l-walker commented on #140
Calibration looks fine.

Imaging issues:
- SPWs 33 & 35 both diverged
- All SPWs are binned x2
- Slight slope in spectrum for SPW 27 due to only a few continuum channels on one cube edge
- SPW 29 has a very broad emission. Looks like the two continuum bits on either edge were added manually to anchor the fitting.
![uid___A001_X15a0_X19c s38_0 Sgr_A_star_sci spw29 cube I iter1 image spectrum](https

[2022-08-24 10:23] d-l-walker commented on #171
Data generally look OK. There's a warning in the bandpass stage: `QA Lowest score for phase derivative is 0.10 (uid___A002_Xfb460e_X4d76.ms CM09 spw 20 YY)`, but ultimately the calibration seems acceptable.

There are some minor imaging issues, mainly just significant residual structure in the continuum and most SPWs. The main issue is with the continuum identification in SPW 22 (HNCO):
![uid___A0

[2022-08-24 10:39] d-l-walker commented on #165
No major problems with this one. The continuum could probably do with a deeper clean (see below), but this is pretty minor. I'll do this soon.
![uid___A001_X15a0_X1aa s36_0 Sgr_A_star_sci spw16_18_20_22_24_26 cont I iter1 image tt0 sky](https://user-images.githubusercontent.com/13015266/186398245-a3be42cb-3ee5-44e7-9ac1-612cf0ba9bec.png)
![uid___A001_X15a0_X1aa s36_0 Sgr_A_star_sci spw16_18_20_22_

[2022-08-24 10:52] keflavich commented on #140
Before you run the pipeline locally, could you please upload the revised imaging parameters that are not size-mitigated?

[2022-08-24 10:54] keflavich commented on #37
Yes, we can close this and ignore this SB in the future.

[2022-08-24 10:54] #37 closed

[2022-08-24 12:51] xinglunju commented on #109
Calibration
---
- Three EBs in this data. Spectral features in the phase calibrator J1744 have been properly flagged.
- step 16. hifa_gfluxscale: the three EBs were executed 4 days apart, but the derived flux of J1744 is different by ~4% (476 mJy vs. 458 mJy). Could this be a problem? Also, the age of the catalog flux for J1744 is more than 180 days old. Shouldn't JAO monitor the flux of J1744 and

[2022-08-24 13:10] keflavich commented on #133
2.03 x 1.44 arcsec was the original pipeline version

[2022-08-24 13:24] keflavich commented on #150
The reimaging remains broken.  Probably the data are not calibrated?

![image](https://user-images.githubusercontent.com/143715/186429988-d3f91e0c-f635-48a1-8dd7-72ed101faae0.png)

[2022-08-24 13:47] keflavich commented on #109
Calibrator flux plots (via https://almascience.nrao.edu/sc/):
![image](https://user-images.githubusercontent.com/143715/186434770-8899720f-b256-4b1f-bcb1-9815825881d2.png)
![image](https://user-images.githubusercontent.com/143715/186434893-7a751d7a-eec9-4225-ae36-5e2964736e46.png)

[2022-08-24 14:26] keflavich opened #210 "Plot comparing sensitivity, beam size"
A plot like this:

![image](https://user-images.githubusercontent.com/143715/186443957-d7f5b0d0-d850-4405-ae21-8c8e178e7e59.png)

is needed, based on these data:

https://data.rc.ufl.edu/secure/adamginsburg/ACES/tables/metadata_image.tt0.js.html

[2022-08-24 14:27] keflavich opened #211 "Put all cubes on a common spectral grid"
To enable easier imaging, analysis, and array combination, we should put all cubes on a common spectral grid.  This will require buffering the grid by +/-45 km/s or so in order to avoid cutting off edges.

[2022-08-24 17:51] keflavich commented on #150
@djeff1887 Could you also have a closer look at this one?  You should already have a pretty good sense of where the hot cores are.

[2022-08-24 17:57] keflavich opened #212 "Make reimaging pipeline build the clean parameters for us?"
@d-l-walker Maybe we can do what you said.

Should we just add `nbins=1` to this line?

https://github.com/ACES-CMZ/reduction_ACES/blob/47c58361978b795223d3b7cf0613743a4dca3b0c/aces/pipeline_scripts/imaging_pipeline_rerun.py#L54

That will at least make the reimaging pipeline output a default set of parameters.

But, see https://github.com/ACES-CMZ/reduction_ACES/issues/211 - we probably want to o

[2022-08-25 10:57] keflavich opened #214 "Execution Block ID uid://A001/X1590/X30ac Sgr_A_st_a_03_7M"
Sgr_A_st_a_03_7M
[uid://A001/X1590/X30ac](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X1590/X30ac)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_a_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-08-25 10:57] keflavich opened #215 "Execution Block ID uid://A001/X1590/X30ae Sgr_A_st_a_03_TP"
Sgr_A_st_a_03_TP
[uid://A001/X1590/X30ae](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X1590/X30ae)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_a_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-08-25 10:57] keflavich opened #216 "Execution Block ID uid://A001/X15a0/X11a Sgr_A_st_u_03_7M"
Sgr_A_st_u_03_7M
[uid://A001/X15a0/X11a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X11a)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
  * [x] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_u_03_7M/html/) unpacked
* [ ] [Weblog](https://dat

[2022-08-25 10:57] keflavich opened #217 "Execution Block ID uid://A001/X15a0/X11c Sgr_A_st_u_03_TP"
Sgr_A_st_u_03_TP
[uid://A001/X15a0/X11c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X11c)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_u_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-08-25 10:57] keflavich opened #218 "Execution Block ID uid://A001/X15a0/X120 Sgr_A_st_v_03_7M"
Sgr_A_st_v_03_7M
[uid://A001/X15a0/X120](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X120)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_v_03_7M/html/) unpacked
* [ ] [Weblog](https://dat

[2022-08-25 10:57] keflavich opened #219 "Execution Block ID uid://A001/X15a0/X122 Sgr_A_st_v_03_TP"
Sgr_A_st_v_03_TP
[uid://A001/X15a0/X122](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X122)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_v_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-08-25 10:57] keflavich opened #220 "Execution Block ID uid://A001/X15a0/X14a Sgr_A_st_ac_03_7M"
Sgr_A_st_ac_03_7M
[uid://A001/X15a0/X14a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X14a)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ac_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-08-25 10:57] keflavich opened #221 "Execution Block ID uid://A001/X15a0/X14c Sgr_A_st_ac_03_TP"
Sgr_A_st_ac_03_TP
[uid://A001/X15a0/X14c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X14c)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ac_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-08-25 10:57] keflavich opened #222 "Execution Block ID uid://A001/X15a0/X18c Sgr_A_st_an_03_7M"
Sgr_A_st_an_03_7M
[uid://A001/X15a0/X18c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X18c)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_an_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-08-25 10:57] keflavich opened #223 "Execution Block ID uid://A001/X15a0/X1a0 Sgr_A_st_aq_03_TP"
Sgr_A_st_aq_03_TP
[uid://A001/X15a0/X1a0](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X1a0)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aq_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-08-25 10:57] keflavich opened #224 "Execution Block ID uid://A001/X15a0/Xe6 Sgr_A_st_l_03_TP"
Sgr_A_st_l_03_TP
[uid://A001/X15a0/Xe6](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xe6)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_l_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-08-25 10:57] keflavich opened #225 "Execution Block ID uid://A001/X15a0/Xf0 Sgr_A_st_n_03_7M"
Sgr_A_st_n_03_7M
[uid://A001/X15a0/Xf0](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xf0)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_n_03_7M/html/) unpacked
* [ ] [Weblog](https://data.

[2022-08-25 10:57] keflavich opened #226 "Execution Block ID uid://A001/X15a0/Xf2 Sgr_A_st_n_03_TP"
Sgr_A_st_n_03_TP
[uid://A001/X15a0/Xf2](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xf2)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_n_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-08-25 11:18] keflavich commented on #216
No weblog is available for this data set.

[2022-08-25 12:39] d-l-walker commented on #212
I think that'd be nice and effectively automate the re-binning for us. Though we'd need to use `pipelinemode='interactive' ` instead of automatic. I _think_ it should fill the remaining parameters automatically anyway, but not 100% sure(?). It's possible we may need to explicitly state some other parameters in this mode.

[2022-08-25 17:16] mpound commented on #133
![ds9_133](https://user-images.githubusercontent.com/22331890/186725403-56ead368-9b84-46b4-b5f2-783e4cbcc1f9.png)

Left: robust=0.5, Right: robust=-2
RMS in regions with no apparent emission (green):
Left: ~120 &micro;Jy/beam, Right: ~185 &microJy/beam

Note example yellow regions where there is apparent emission in the robust=-2 image but not in the robust=0.5 image. These are likely uncleaned fl

[2022-08-25 17:43] keflavich commented on #133
Those differences in emission are very worrying - something that extended shouldn't just appear as an artifact.  Also there's an extra point source in the right image? (just up and right of center)

[2022-08-25 18:03] mpound commented on #133
Good catch, that's also in the residual

![resid](https://user-images.githubusercontent.com/22331890/186737128-cb67309a-a9fd-495c-ae94-8f181e065f3a.png)

[2022-08-25 18:06] keflavich commented on #133
Which residual is that viridis picture - robust-2 or robust0.5?

[2022-08-25 18:22] mpound commented on #133
Residual is robust=-2.  I don't have robust=0.5 residual (and don't see it on globus)

[2022-08-25 18:55] keflavich commented on #41
The calibrated/ data for this field were still completely screwed up, so I'm re-running everything here from scratch again.

[2022-08-25 18:59] keflavich commented on #145
This is like field `ao` in that the reimaging was a total failure; it looks like uncalibrated data are being imaged.

[2022-08-27 07:10] keflavich opened #227 "Execution Block ID uid://A001/X15a0/Xb6 Sgr_A_st_d_03_TP"
Sgr_A_st_d_03_TP
[uid://A001/X15a0/Xb6](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xb6)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_d_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-08-27 16:21] keflavich commented on #210
![image](https://user-images.githubusercontent.com/143715/187038678-084ce072-90f8-4d92-9849-f74142fe70cb.png)
![image](https://user-images.githubusercontent.com/143715/187038681-45f9e574-6195-4a30-8d8a-1cd3ed0765a2.png)
![image](https://user-images.githubusercontent.com/143715/187038701-fde3435f-63e4-4c56-a825-fe3cef422ede.png)

https://github.com/ACES-CMZ/reduction_notebooks/blob/main/ContinuumSt

[2022-08-28 08:43] keflavich opened #228 "Execution Block ID uid://A001/X15a0/Xb4 Sgr_A_st_d_03_7M"
Sgr_A_st_d_03_7M
[uid://A001/X15a0/Xb4](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xb4)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_d_03_7M/html/) unpacked
* [ ] [Weblog](https://data.

[2022-08-29 09:19] keflavich opened #229 "Execution Block ID uid://A001/X15a0/X140 Sgr_A_st_aa_03_TP"
Sgr_A_st_aa_03_TP
[uid://A001/X15a0/X140](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X140)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aa_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-08-29 09:19] keflavich opened #230 "Execution Block ID uid://A001/X15a0/X168 Sgr_A_st_ah_03_7M"
Sgr_A_st_ah_03_7M
[uid://A001/X15a0/X168](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X168)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ah_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-08-29 09:20] keflavich opened #231 "Execution Block ID uid://A001/X15a0/Xee Sgr_A_st_n_03_TM1"
Sgr_A_st_n_03_TM1
[uid://A001/X15a0/Xee](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xee)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
  * [x] hipergator pipeline run
    * [Pipeline Run 20220919T040323](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs-reimaging/member.uid___A001_X15a0_Xee/pipeline-202209

[2022-08-30 05:48] keflavich opened #232 "Execution Block ID uid://A001/X15a0/X148 Sgr_A_st_ac_03_TM1"
Sgr_A_st_ac_03_TM1
[uid://A001/X15a0/X148](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X148)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ac_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-08-30 05:48] keflavich opened #233 "Execution Block ID uid://A001/X15a0/X16a Sgr_A_st_ah_03_TP"
Sgr_A_st_ah_03_TP
[uid://A001/X15a0/X16a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X16a)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ah_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-08-30 08:59] d-l-walker commented on #126
I did the manual imaging for this EB during QA2. The cubes were binned x2. Since I already did the pre-delivery imaging, I can re-run my scripts to re-image at native spectral resolution.

For reference, this is the 12m counterpart to #139 that had the PSF issue, where the PSF is placed outside of the mosaic due to the irregular shape of the mosaic. Solution is simply force the phasecentre to be a

[2022-08-30 09:59] d-l-walker commented on #216
This one looks pretty good so I'm setting it to 'Done'.

Cleaning in general could be improved to reduce signal in residuals. There's also a _very_ minor calibration issue -- all Tsys contamination was flagged, except for a small bump in SPW 22 for EB X1336. But these are minor and I think we can treat this as good-to-go for now.

![tsys-uid___A002_Xfd02fc_X1336 ms-summary spw22](https://user-imag

[2022-08-30 12:53] d-l-walker commented on #43
SPW 33 has now been cleaned successfully using `cyclefactor=4.0`. Peak intensity map below. This was the only outstanding issue, so I've marker this issue as completed.

@keflavich  I've updated the override tclean .json, and added the products to `/upload/Sgr_A_st_ap_TM1_reclean/`. To be copied to `/rawdata/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/group.uid___A001_X1590_X30a9/member.uid

[2022-08-30 13:29] xinglunju commented on #144
As Dan mentioned, spw 20 has some line(-free) identification issues. The same issue may have affected spw 22 too, as shown in the line-free mom8 below:
![uid___A001_X15a0_X126 s38_0 Sgr_A_star_sci spw22 cube I iter1 image mom8_fc sky](https://user-images.githubusercontent.com/3944252/187446175-046502e4-f57d-4b48-b29a-cd3e0a1e585d.png)

The spectrum in findcont looks ok, though.
![uid___A001_X15a0_

[2022-08-30 14:36] xinglunju commented on #135
The continuum source in the top right corner is Sgr A*, so I don't think we will ever get a clean image without self calibration.

As @SpacialTree pointed out, spw 20 may have a problem in line-free channel identification, which leads to the odd dip in the first ~800 channels. The findcont result of spw 20:
![uid___A001_X15a0_X12c s31_0 Sgr_A_star_sci spw20 mfs I findcont residual extraMaskInterse

[2022-08-31 08:44] d-l-walker commented on #222
The data look good in general. No significant issues. There are two minor issues:
- The continuum selection in SPW 18 isn't great. While this could be improved, this isn't one of the primary continuum windows, so this isn't a major issue.
- SPW 20 has the usual slope due to doing uvcontsub with only a few channels on one cube edge. This should hopefully be fixed in the PL re-run with `fitorder=0`.

[2022-08-31 08:50] d-l-walker commented on #220
This one looks good. Moving it straight to completed EBs.

The HCO+ emission goes _right up_ to the edge of the SPW. Unfortunate, but looks like we've just about got the bulk of the line squeezed in.

![uid___A001_X15a0_X14a s38_0 Sgr_A_star_sci spw20 cube I iter1 image spectrum](https://user-images.githubusercontent.com/13015266/187638195-6844ac60-76f2-440f-b0d9-c9aa1d38af96.png)

[2022-08-31 09:06] d-l-walker commented on #181
This one looks weird? The delivered weblog looks like this:

![Screenshot 2022-08-31 at 09 52 08](https://user-images.githubusercontent.com/13015266/187639104-29cbec75-19a7-4838-9052-3dbe137a837e.png)

Many of the stages are missing and there are lots of warnings, e.g.:
[code]

@keflavich I checked the internal ALMA QA2 weblog that was generated prior to delivery and it doesn't look like this. Any

[2022-08-31 09:13] d-l-walker commented on #186
This looks good -- marking as completed.

There a warning that `tclean reached niter limit. Field: Sgr_A_star SPW: 20`, but the image looks fine. Both SPWs 20 & 22 could be cleaned a little deeper, but this is minor.

[2022-08-31 12:02] keflavich commented on #181
I'll remove & redownload this

[2022-09-01 06:31] keflavich opened #235 "Execution Block ID uid://A001/X15a0/X11e Sgr_A_st_v_03_TM1"
Sgr_A_st_v_03_TM1
[uid://A001/X15a0/X11e](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X11e)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_v_03_TM1/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-01 06:31] keflavich opened #236 "Execution Block ID uid://A001/X15a0/X13a Sgr_A_st_z_03_TP"
Sgr_A_st_z_03_TP
[uid://A001/X15a0/X13a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X13a)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_z_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-09-01 06:31] keflavich opened #237 "Execution Block ID uid://A001/X15a0/X13e Sgr_A_st_aa_03_7M"
Sgr_A_st_aa_03_7M
[uid://A001/X15a0/X13e](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X13e)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aa_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-02 12:48] keflavich opened #238 "Execution Block ID uid://A001/X15a0/X166 Sgr_A_st_ah_03_TM1"
Sgr_A_st_ah_03_TM1
[uid://A001/X15a0/X166](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X166)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ah_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-09-02 12:48] keflavich opened #239 "Execution Block ID uid://A001/X15b4/X49 Sgr_A_st_aj_updated_03_TP"
Sgr_A_st_aj_updated_03_TP
[uid://A001/X15b4/X49](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15b4/X49)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aj_updated_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secu

[2022-09-03 06:27] keflavich opened #240 "Execution Block ID uid://A001/X15a0/X108 Sgr_A_st_r_03_7M"
Sgr_A_st_r_03_7M
[uid://A001/X15a0/X108](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X108)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_r_03_7M/html/) unpacked
* [ ] [Weblog](https://dat

[2022-09-03 06:27] keflavich opened #241 "Execution Block ID uid://A001/X15a0/X118 Sgr_A_st_u_03_TM1"
Sgr_A_st_u_03_TM1
[uid://A001/X15a0/X118](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X118)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_u_03_TM1/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-04 06:25] keflavich opened #242 "Execution Block ID uid://A001/X1590/X30aa Sgr_A_st_a_03_TM1"
Sgr_A_st_a_03_TM1
[uid://A001/X1590/X30aa](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X1590/X30aa)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_a_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-09-06 09:12] keflavich opened #243 "Execution Block ID uid://A001/X15a0/X10e Sgr_A_st_s_03_7M"
Sgr_A_st_s_03_7M
[uid://A001/X15a0/X10e](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X10e)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_s_03_7M/html/) unpacked
* [ ] [Weblog](https://dat

[2022-09-06 09:12] keflavich opened #244 "Execution Block ID uid://A001/X15a0/X15c Sgr_A_st_af_03_7M"
Sgr_A_st_af_03_7M
[uid://A001/X15a0/X15c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X15c)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_af_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-06 09:12] keflavich opened #245 "Execution Block ID uid://A001/X15a0/X188 Sgr_A_st_am_03_TP"
Sgr_A_st_am_03_TP
[uid://A001/X15a0/X188](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X188)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_am_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-09-07 02:05] xinglunju commented on #148
Calibration
----
Looks good overall.

Continuum imaging
----
* Findcont result of spw20 is questionable. As such the continuum image of spw20 has artifacts. However, we will not use spw20 (and 22) for the aggregate continuum, and may subtract the continuum from the line cube later, so this should be ok.
![uid___A001_X15a0_Xfc s31_0 Sgr_A_star_sci spw20 mfs I findcont residual original meanSpectrum

[2022-09-07 08:24] xinglunju commented on #115
Calibration
---
Looks good overall.

Continuum imaging
---
* The findcont (step 31) shows 'status: OLD' and doesn't have plots for spws. From the plots in later stages (step 38), the result for spw20 (HCO+) is very questionable. However, in the hipergator pipeline run, which uses a 0th-order uvcontfit, spw20 looks ok.
**Original spw20 spectrum from the delivery package weblog**
![uid___A001_X15a9_

[2022-09-07 08:32] d-l-walker commented on #214
Everything looks good -- straight pass on this one. SPWs 20 & 22 could be cleaned a little deeper, but this is minor.

[2022-09-07 08:39] xinglunju commented on #135
spw20 spectrum in [the hipergator pipeline run version](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_x_03_7M_1/html/t2-4m.html?sidebar=sidebar_stage12&ms=all&subpage=uid___A001_X15a0_X12c-fieldSgr_A_star__TARGET_-spw20-polI-cleanplots.html) (which uses 0th-order uvcontsub) looks better:
![uid___A001_X15a0_X12c s12_0 Sgr_A_star_sci spw20 cube I iter1 image spectru

[2022-09-07 12:50] keflavich commented on #55
Closing as completed; we did all the related work and the SBs have been queued appropriately.

[2022-09-07 12:50] #55 closed

[2022-09-07 12:51] keflavich commented on #80
Closing as "unfixable": We've given up using MPI.

[2022-09-07 12:51] #80 closed

[2022-09-07 12:51] #82 closed

[2022-09-07 13:04] d-l-walker commented on #142
SPW 33 was recleaned, but it diverged. I'll have a go at re-doing this with a higher cyclefactor.

![Screenshot 2022-09-07 at 14 03 48](https://user-images.githubusercontent.com/13015266/188885166-188b33b6-8592-4602-8992-3a4a48d35dae.png)

[2022-09-07 13:12] d-l-walker commented on #126
Slow progress on this front -- I keep getting segmentation faults, both with and without MPI. Not sure what's happening yet ...

[2022-09-07 13:39] keflavich commented on #227
Looks fine.  There are the normal problems with baseline ripples, but nothing stands out as problematic.

![image](https://user-images.githubusercontent.com/143715/188892665-036210a3-96a2-40bc-9f1b-62eecee49745.png)

[2022-09-07 18:53] keflavich commented on #145
This is one of the fields affected by the issue in which `_target.ms` is never made.

[2022-09-09 11:11] d-l-walker commented on #182
Data generally look good. Minor issues:
- Cleaning could generally go deeper in all SPWs.
- SPW 20 has the commonly-seen wonkiness in the spectrum due to the lack of continuum channels. This should be resolved by the imaging re-run with `fitorder=0`.

Otherwise, things look OK. I think this can be marked as 'Done'.

![uid___A001_X15a0_Xde s38_0 Sgr_A_star_sci spw20 cube I iter1 image spectrum (1)]

[2022-09-09 12:10] d-l-walker commented on #225
Everything looks good. There's some very minor Tsys contamination that has not been flagged in some EBs/SPWs, but this is unlikely to significantly affect the data, so I'm just marking this with the minor calibration issue tag, and will set this as done.

[2022-09-09 17:11] d-l-walker commented on #117
SPW 33 has now been cleaned by the imaging re-run and it looks good! Marking this as done.

![Screenshot 2022-09-09 at 18 10 12](https://user-images.githubusercontent.com/13015266/189406516-f94b45e2-106c-4a33-a110-07f17f4528e7.png)

[2022-09-11 08:20] keflavich opened #246 "Execution Block ID uid://A001/X15a0/X10a Sgr_A_st_r_03_TP"
Sgr_A_st_r_03_TP
[uid://A001/X15a0/X10a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X10a)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_r_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-09-12 07:01] keflavich opened #247 "Execution Block ID uid://A001/X15a0/Xb2 Sgr_A_st_d_03_TM1"
Sgr_A_st_d_03_TM1
[uid://A001/X15a0/Xb2](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xb2)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_d_03_TM1/html/) unpacked
* [ ] [Weblog](https://dat

[2022-09-12 10:27] d-l-walker commented on #124
@keflavich any idea what the status is on this one? We're just waiting for SPW 33 to be imaged before this can be marked as done. I don't see it in the reprocessed products link. I can see many directories like `~/member.uid___A001_X15a0_X124/calibrated/working/uid___A001_X15a0_X124.s38_0.Sgr_A_star_sci.spw33.cube.I.iter1.xyz` from ~ 8/25, but no final images. I'm guessing maybe it failed before t

[2022-09-12 13:57] d-l-walker commented on #113
SPW 33 was cleaned in the imaging re-run, but it appears to have diverged pretty severely. I'll have a go at re-doing this with a higher cyclefactor.

![Screenshot 2022-09-12 at 14 53 56](https://user-images.githubusercontent.com/13015266/189672563-1458b1b4-0ce3-430a-a5bc-6d724a6f86dc.png)

[2022-09-12 15:02] mpound commented on #149
I can't find a single cyclefactor that will fix the problem in all channels.   Sometimes increasing cyclefactor improves it, sometimes it makes it worse.  Here are some example channels from a 10-channel clean in SPW 27.

Left to right on all the images below:  Cyclefactor =4, 3, 1.5 (original value)
**1. Increasing cycle factor improves the clean but not enough.**

![cyclefactormakesitbetterbutno

[2022-09-14 08:14] xinglunju commented on #159
Calibration
---
Looks good.

Continuum imaging
---
- step 31 hif_findcont: the continuum identification is ok, and can be improved.
- Complex strong continuum emission is found, which is expected as this field is in Sgr B1.
![image](https://user-images.githubusercontent.com/3944252/190093843-0d94b883-dbd5-4c5e-8292-a9eb784bf261.png)

Line imaging
---
- spw16: got a QA score of 0.89, but no idea wh

[2022-09-14 08:16] d-l-walker commented on #230
This looks good -- marking it as done. HCO+ and HNCO windows (20 & 22) could be cleaned a bit deeper, and the continuum selection includes a minor amount of line emission, but this is typical for these SPWs.

[2022-09-14 08:27] d-l-walker commented on #40
@ashleythomasbarnes don't suppose you've since looked at any of the reprocessed images? I'm going to start downloading some soon to take a look, but it might be useful to have another set of eyes on this, particularly for the issues you pointed out. The residuals aren't available here, but should be available as CASA image files in the relevant globus directory.

[2022-09-14 09:01] xinglunju commented on #162
Calibration
---
Looks good overall.
- In step 12 hifa_bandpassflag, in one EB uid___A002_Xfabf9b_X1d63.ms, there is one scan that is flagged for spws 16/18/24/26 for the bandpass calibrator, but is not flagged for spw20/22.
![image](https://user-images.githubusercontent.com/3944252/190106452-bdb4b316-c54e-471a-a021-4b4ef590ce46.png)

As a result, in step 19 hif_applycal, the bandpass calibrator of

[2022-09-14 10:04] d-l-walker commented on #121
Following the recent discussion on TP weblog reviews, I'm setting this as done since the only apparent issue relates to the baseline ripples, which is unavoidable.

[2022-09-14 10:48] d-l-walker commented on #236
Just the usual baseline ripples here -- setting to done.

[2022-09-14 11:02] d-l-walker commented on #221
I think this one may have a similar issue to the one that @ashleythomasbarnes  mentioned here: https://github.com/ACES-CMZ/reduction_ACES/issues/32#issuecomment-1150794678? It looks like it hasn't included all of the line emission in the selection, which has completely skewed the baseline at the lower frequency edge post-subtraction?

###  HCO+ before baseline subtraction
![spectral_plot_before_su

[2022-09-14 11:48] keflavich commented on #159
There should be no difference; so far we have made no changes to calibrated data anywhere in the process.  However, we are using a different contsub parameter.

[2022-09-15 08:23] keflavich opened #251 "Execution Block ID uid://A001/X15a0/X13c Sgr_A_st_aa_03_TM1"
Sgr_A_st_aa_03_TM1
[uid://A001/X15a0/X13c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X13c)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aa_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-09-15 08:24] keflavich opened #252 "Execution Block ID uid://A001/X15a0/Xaa Sgr_A_st_b_03_TP"
Sgr_A_st_b_03_TP
[uid://A001/X15a0/Xaa](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xaa)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_b_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-09-16 08:10] keflavich opened #254 "Execution Block ID uid://A001/X15a0/Xc0 Sgr_A_st_f_03_7M"
Sgr_A_st_f_03_7M
[uid://A001/X15a0/Xc0](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xc0)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_f_03_7M/html/) unpacked
* [ ] [Weblog](https://data.

[2022-09-16 16:48] d-l-walker commented on #126
Yeah, sorry that this is different. It's because only the calibration was done with the PL for this one, since the imaging was done manually. Hopefully you can just add an exception to the script? This should be the only instance of this as no other region has required manual imaging so far.

[2022-09-16 16:50] keflavich commented on #126
Yeah no worries, I've added the exemption in 5d2f82f

[2022-09-17 07:08] keflavich opened #255 "Execution Block ID uid://A001/X15a0/X15a Sgr_A_st_af_03_TM1"
Sgr_A_st_af_03_TM1
[uid://A001/X15a0/X15a](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X15a)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_af_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-09-18 08:02] keflavich opened #256 "Execution Block ID uid://A001/X15a0/Xac Sgr_A_st_c_03_TM1"
Sgr_A_st_c_03_TM1
[uid://A001/X15a0/Xac](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xac)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TM1/html/) unpacked
* [ ] [Weblog](https://dat

[2022-09-19 07:13] keflavich opened #257 "Execution Block ID uid://A001/X15a0/Xf6 Sgr_A_st_o_03_7M"
Sgr_A_st_o_03_7M
[uid://A001/X15a0/Xf6](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xf6)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_o_03_7M/html/) unpacked
* [ ] [Weblog](https://data.

[2022-09-19 13:59] xinglunju commented on #191
**This is a re-observed SB after Vlsr shift. The original SB is at #37 and has been closed.**

Calibration
---
No big issues.

Continuum imaging
---
The image looks good. The findcont results show 'OLD' and do not display plots, but based on the plots from step 38, continuum identification looks ok. This field covers Sgr B2, so the continuum identification can be improved a lot later.
![image](htt

[2022-09-19 14:12] xinglunju commented on #178
- #241 Absorption for phase calibrator J1744, for the only MS in this SB (stage 19).

[2022-09-19 14:27] xinglunju commented on #241
Calibration
---
- The phase calibrator J1744 was not properly flagged in spw29. Significant HCO+ absorption feature is seen (see plot below). This does not affect bandpass, but would affect phase calibration.
![image](https://user-images.githubusercontent.com/3944252/191036866-770575a6-b11b-4a04-a244-374dc0eae3c6.png)

Continuum imaging
---
Looks good. Although this field has a weird shape like #1

[2022-09-20 06:51] keflavich opened #259 "Execution Block ID uid://A001/X15a0/X184 Sgr_A_st_am_03_TM1"
Sgr_A_st_am_03_TM1
[uid://A001/X15a0/X184](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X184)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_am_03_TM1/html/) unpacked
* [ ] [Weblog](https:/

[2022-09-21 12:44] ksi85 commented on #218
1st measurement set: three antennas fully flagged for phase cal and target

Data looks very good.

Only maybe the continuum channels for the continuum subtraction need a little bit of adjustment in spw 22:
![image](https://user-images.githubusercontent.com/96302794/191506941-b3d42dc4-5609-4eb7-9b13-fd9b7625daa9.png)

[2022-09-21 13:48] ashleythomasbarnes opened #260 "Solution to elongated/oversized beams - setting in tclean"
Reference to issue -- https://github.com/ACES-CMZ/reduction_ACES/issues/241
Beams are elongated (major/minor=1.69)
Major axis >2 arcsec
Suggested to set a 2.0arcsec circular beam in tclean manually anyway.
Worth checking by cleaning a region with strong sources and checking flux against elongated beam image

[2022-09-21 13:49] ashleythomasbarnes commented on #260
Needs someone to look into this -- no one immediately available.

[2022-09-21 13:59] mpound commented on #233
SPW 21 has strong HCO+ emission at edge of band, so baseline subtraction is poor.   The emission does get mostly included for baseline exemption (unlike issues #32 and #221), but the baseline fit is still poor.
![spectral_plot_before_subtraction_uid___A002_Xfdb69b_X23f8 ms atmcor_Sgr_A_star_ant0_spw21_pol0](https://user-images.githubusercontent.com/22331890/191524379-0d34f0b3-99b4-4ba7-b281-a8035b

[2022-09-21 14:01] mpound commented on #233
SPW 25 and 27 have the usual baseline ripples after subtraction.  e.g. here is SPW27:

![spectral_plot_before_subtraction_uid___A002_Xfdb69b_X23f8 ms atmcor_Sgr_A_star_ant0_spw27_avg_pol0](https://user-images.githubusercontent.com/22331890/191524922-50b38297-5ac3-44d0-a4ce-c43f10985ae7.png)

[2022-09-21 14:07] ashleythomasbarnes commented on #119
Checks:

1. Some minor line emission outside of the clean mask in the lines -- not to worry about
2. The continuum could be cleaned deeper (residual shown below). This is at the 10% of the flux in the image, and could be addressed with more work. Note sure if necessary...

![uid___A001_X15b4_X47 s36_0 Sgr_A_star_sci spw16_18_20_22_24_26 cont I iter1 residual tt0 sky](https://user-images.githubuser

[2022-09-21 14:08] ashleythomasbarnes commented on #119
Broken link on reclean @keflavich (in Reprocessed Product Links)? Not sure where/who did this?

[2022-09-21 14:19] mpound commented on #233
Effects of bad baseline in SPW21 can be seen in the cube:
![badbasline](https://user-images.githubusercontent.com/22331890/191529307-12feba71-a9d0-4917-8490-fff2e5202911.png)

[2022-09-21 14:27] mpound commented on #233
SPW23 cube has some spots with poor baseline subtraction due to emission near edge of band. Not as bad as SPW21:
![spw23baseline](https://user-images.githubusercontent.com/22331890/191531264-b62cc940-5832-4228-9cf4-02f12103cee3.png)

[2022-09-21 14:32] mpound commented on #233
Rest of the cubes (17,19,25,27) look ok.

[2022-09-21 20:10] pyhsiehATalma opened #261 "Total Power + 7M combination: Stitching fields"
This issue is created to test stitching fields to combine 7 m and TP data.

[2022-09-21 20:25] pyhsiehATalma commented on #261
**Test of stitching 7 m cube (spw20, HCO+)**

- Step 1: smooth data to a common beam (75").
- Step 2: regrid science and weight images to match a template image.
- Step 3: stitching weight cubes.
- Step 4: stitching science cubes with weighted average.
- Step 4.1: stitching science cubes without weighted average.
- Step 5: data inspection

[2022-09-22 21:00] keflavich opened #262 "Execution Block ID uid://A001/X15a0/X110 Sgr_A_st_s_03_TP"
Sgr_A_st_s_03_TP
[uid://A001/X15a0/X110](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X110)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_s_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-09-23 06:11] keflavich opened #263 "Execution Block ID uid://A001/X15a0/X106 Sgr_A_st_r_03_TM1"
Sgr_A_st_r_03_TM1
[uid://A001/X15a0/X106](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X106)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_r_03_TM1/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-23 09:51] ashleythomasbarnes commented on #237
@keflavich do you know why there is another weblog here? -- [Extra Weblog Sgr_A_st_aa_03_7M_1 -> pipeline-20220921T040545](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aa_03_7M_1) -- looks like it have been recleaned but deeper, but only for a subset of the SPWs,

[2022-09-23 10:01] ashleythomasbarnes commented on #228
Clean stopped to stop divergence across all pipeline reductions for spw20 -- though doesn't look too bad in the wedlogs

![Screenshot 2022-09-23 at 11 59 44](https://user-images.githubusercontent.com/30494539/191937290-54766339-45cf-406a-89cc-b3f47a0fb734.png)

[2022-09-23 10:07] ashleythomasbarnes commented on #228
Would suggest that spw 18 and 22 need a deeper clean

![Screenshot 2022-09-23 at 12 06 00](https://user-images.githubusercontent.com/30494539/191938485-f61c5968-de57-469f-b0d6-dcd2454b41db.png)

![Screenshot 2022-09-23 at 12 06 32](https://user-images.githubusercontent.com/30494539/191938495-f9aa965f-81b0-4b21-8afe-abc6206c228b.png)

[2022-09-23 10:17] ashleythomasbarnes commented on #174
Task 38 -- 3 major warnings:
  1. QA tclean reached niter limit. Field: Sgr_A_star SPW: 20
  2. QA tclean reached niter limit. Field: Sgr_A_star SPW: 22
  3. QA tclean stopped to prevent divergence (stop code 6). Field: Sgr_A_star SPW: 24

[2022-09-23 10:24] ashleythomasbarnes commented on #174
Task 38 -- 3 major warnings:
  1. QA tclean reached niter limit. Field: Sgr_A_star SPW: 20
      Indeed, spw20 could get a little better.

![Screenshot 2022-09-23 at 12 20 46](https://user-images.githubusercontent.com/30494539/191940821-76cadab7-d811-498d-b417-c221199366a6.png)

  2. QA tclean reached niter limit. Field: Sgr_A_star SPW: 22
      I don't think there is much more to be gained on spw

[2022-09-23 10:32] d-l-walker commented on #174
Just had a quick look at SPW 24 -- looks like it did divergence in channels 690/691.

![Screenshot 2022-09-23 at 11 31 24](https://user-images.githubusercontent.com/13015266/191942502-a18224fe-4ec2-4bfc-87fd-17d2242b23a2.png)

[2022-09-23 11:49] keflavich commented on #237
That looks like the usual automatic imaging-only pipeline rerun

[2022-09-23 11:54] ashleythomasbarnes commented on #137
Checking weblogs [Extra Weblog Sgr_A_st_l_03_TM1_0 -> pipeline-20220608T184646](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_l_03_TM1_0), [Extra Weblog Sgr_A_st_l_03_TM1_1 -> pipeline-20220626T040113](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_l_03_TM1_1)

Warning on the continuum clean `Warning! tclean exit status 0 for Field

[2022-09-23 13:27] ashleythomasbarnes commented on #215
`Warning! Elevation difference between ON and OFF for uid___A002_Xfd3ff4_X27f3.ms field Sgr_A_star antenna PM01 spw 17 was 4.152109705376404deg exceeding the threshold 3.0deg`

[2022-09-23 13:30] ashleythomasbarnes commented on #229
`Elevation difference between ON and OFF exceeds 3.0deg`

[2022-09-23 13:47] ashleythomasbarnes commented on #229
Not completely happy with these baseline subtractions for HCO+ (spw21).

------
Spectral Data Before Baseline Subtraction
Red lines indicate the result of baseline fit that is subtracted from the calibrated spectra.
![Screenshot 2022-09-23 at 15 34 42](https://user-images.githubusercontent.com/30494539/191972237-1f1e57af-a595-4692-854f-3d2bda308a93.png)

Spectral Data After Baseline Subtraction
Re

[2022-09-23 13:48] ashleythomasbarnes commented on #229
Setting as done - with the caveat that HCO+ could be improved.

[2022-09-23 14:06] ashleythomasbarnes commented on #245
HCO+ could be better - rest of spws okay.

![spectral_plot_before_subtraction_uid___A002_Xfdf45f_X9bc7 ms atmcor_Sgr_A_star_ant0_spw21_avg_pol0](https://user-images.githubusercontent.com/30494539/191979152-63abba73-de0a-475c-8161-18652c37bb96.png)

[2022-09-23 14:16] ashleythomasbarnes commented on #25
Could be missing some emission at the lower velocities in HCO+ - rest of spws look good.

![Uploading spectral_plot_before_subtraction_uid___A002_Xf434d4_X5265.ms.atmcor_Sgr_A_star_ant0_spw21_avg_pol0.png…]()

[2022-09-23 14:28] ashleythomasbarnes commented on #226
Possibly better HCO+, but doesn't appear to have effected the fit (as the lines are narrow?) -- so marking as okay.

![spectral_plot_before_subtraction_uid___A002_Xfce28e_X2e30 ms atmcor_Sgr_A_star_ant0_spw21_avg_pol0](https://user-images.githubusercontent.com/30494539/191983815-8b5f37b6-5169-476d-abc7-a707a76a9a41.png)

[2022-09-23 14:32] ashleythomasbarnes commented on #226
Looking at the cube - 1) the emission is slightly below 0, 2) there is a single pixel in the lower left that is nan.

![Screenshot 2022-09-23 at 16 31 53](https://user-images.githubusercontent.com/30494539/191984863-a64287d3-badf-49b1-bf38-ef2f90ef7fa5.png)

[2022-09-23 14:37] ashleythomasbarnes commented on #183
Poor baseline for HCO+, but rest okay.

![spectral_plot_before_subtraction_uid___A002_Xfbe192_X54a ms atmcor_Sgr_A_star_ant0_spw21_pol0](https://user-images.githubusercontent.com/30494539/191985571-6ab49593-4b47-476f-9921-83a46b404795.png)

![spectral_plot_after_subtraction_uid___A002_Xfbe192_X54a ms atmcor_Sgr_A_star_ant0_spw21_pol0](https://user-images.githubusercontent.com/30494539/191985580-7d

[2022-09-23 14:50] ashleythomasbarnes commented on #184
Poor HCO+ baseline - not a whole lot of free spectrum to work with here.

![spectral_plot_before_subtraction_uid___A002_Xfbf8a1_X59b ms atmcor_Sgr_A_star_ant0_spw21_pol0](https://user-images.githubusercontent.com/30494539/191988797-cdc2565a-e6e4-4833-978e-ba995c5ae5c3.png)
![spectral_plot_after_subtraction_uid___A002_Xfbf8a1_X59b ms atmcor_Sgr_A_star_ant0_spw21_pol0](https://user-images.githubuser

[2022-09-23 14:53] ashleythomasbarnes commented on #184
Also, spw 25 not looking good here due to emission towards the edge of the band.
Looking at the cube, this doesn't have a major effect, and there is no emission in this region - so adding a minor issue.

![spectral_plot_before_subtraction_uid___A002_Xfbf8a1_X59b ms atmcor_Sgr_A_star_ant0_spw25_pol0](https://user-images.githubusercontent.com/30494539/191989043-2828ab23-0b47-43f4-8b3e-dc6542554083.p

[2022-09-25 12:47] keflavich opened #264 "Execution Block ID uid://A001/X15a0/X10c Sgr_A_st_s_03_TM1"
Sgr_A_st_s_03_TM1
[uid://A001/X15a0/X10c](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X10c)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_s_03_TM1/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-25 12:47] keflavich opened #265 "Execution Block ID uid://A001/X15a0/X186 Sgr_A_st_am_03_7M"
Sgr_A_st_am_03_7M
[uid://A001/X15a0/X186](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X186)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_am_03_7M/html/) unpacked
* [ ] [Weblog](https://d

[2022-09-26 15:41] d-l-walker commented on #235
Overall this looks pretty good. There are a few things to point out:
- The WVR correction did not work well for the bandpass scan (see below). This is due to a variation in humidity and dew point during this scan. This does result in some phase and amplitude spread in the data (see stages 17/19 in the weblog), though the extreme outliers were already flagged out during QA2 by me. While this could

[2022-09-26 17:32] d-l-walker commented on #231
This looks fine -- cubes just need to be re-cleaned at native spectral resolution.
There's a bit of phase and amplitude spread in one of the later scans, but this is minor.
Beam is a bit elongated again (ratio ~ 1.6), but not too bad.

I think this is good-to-go once the cubes have been recleaned at full resolution.

[2022-09-26 18:54] qzhang99 commented on #181
@keflavich : any updates on re-downloading the data?

[2022-09-26 19:15] keflavich commented on #181
yes, looks like it has been re-downloaded, but something has gone weird with the weblog linking/unpacking.

[2022-09-26 19:22] qzhang99 commented on #181
Thanks, let me know once the links are fixed.

[2022-09-26 19:38] keflavich commented on #181
https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs-reimaging/member.uid___A001_X15a0_Xd8/pipeline-20220818T143941/html/ should work now.  I still don't quite get what's going on with the broken links up top though.

[2022-09-26 19:48] qzhang99 commented on #181
Somehow, the link you posted is for EB #174. We need the one for EB #181.

[2022-09-26 19:50] keflavich commented on #181
Are you certain?  When I go to that link, it tells me the OUS is `uid://A001/X15a0/Xd8`, which is this one.

[2022-09-27 11:06] keflavich opened #266 "Execution Block ID uid://A001/X15a0/Xbe Sgr_A_st_f_03_TM1"
Sgr_A_st_f_03_TM1
[uid://A001/X15a0/Xbe](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xbe)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
  * [ ] hipergator pipeline run

* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_f_03_TM1/html/) unpacked
* [ ] [Weblog](https://dat

[2022-09-28 09:25] d-l-walker commented on #239
This looks good. Velocity shift has worked well to capture the emission, and baseline subtractions look good. As always, baseline flatness is an issue, but otherwise OK.

[2022-09-28 09:30] d-l-walker commented on #193
This looks fine other than the usual baseline ripples. Marking as done.

[2022-09-28 09:52] d-l-walker commented on #232
Everything looks good with this one. All cubes were binned x2 for size mitigation. I'll leave this one as 'Under QA' until this is resolved.

One thing to note is that the HCO+ emission is cut off at the lower edge of the window. As far as I can tell, no velocity shift was requested for this SB.

![uid___A001_X15a0_X148 s31_0 Sgr_A_star_sci spw29 mfs I findcont residual autoLowerIntersect meanSpec

[2022-09-28 10:25] d-l-walker commented on #145
@keflavich any updates on this one? Is anything currently running? I can see that in the most recent run, no `_target.ms` files are made as you mentioned earlier. These should be calibrated, right, just no target splitting happening for some reason?

[2022-09-28 10:34] d-l-walker commented on #222
@keflavich looks like the PL hasn't been re-run for this one yet?
That's the only outstanding issue for this SB really -- once the PL has been run with `fitorder=0`, this will be good-to-go.

[2022-09-28 13:37] bazarsen commented on #118
###SPW 33:
Inspection by hand revealed divergence around channel 611. Needs recleaning.
![Screen Shot 2022-09-28 at 9 33 42 AM](https://user-images.githubusercontent.com/16635970/192792327-63cadf25-cdf1-4460-af03-7451fbf3ede1.jpg)

[2022-09-28 16:35] keflavich commented on #145
it fininshed and is still entirely broken

[2022-09-28 16:41] keflavich commented on #145
I think something is fundamentally wrong with the pipeline-delivered measurement set, but I haven't pinned it down.

[2022-09-28 17:31] bazarsen commented on #158
Recleaning with cyclefactor = 2.0 was successful, the final image is in the upload directory.

[2022-09-28 17:37] keflavich commented on #158
@bazarsen we need the full package - image, residual, weight, psf, etc, not just the image

Could you also put those files into an appropriately-named subdirectory?

[2022-09-29 05:32] ashleythomasbarnes commented on #239
Just looking into this, could you be specific how SPW25 isn't ideal? Its still early and maybe I need more coffee, but I'd mark this as fine?

![spectral_plot_before_subtraction_uid___A002_Xfddca6_X236b ms atmcor_Sgr_A_star_ant0_spw25_pol0](https://user-images.githubusercontent.com/30494539/192946634-02ca6fe7-dffc-4433-a1b2-256da55080ff.png)

![spectral_plot_after_subtraction_uid___A002_Xfddca6_X2

[2022-09-29 07:42] d-l-walker commented on #239
Hi @ashleythomasbarnes -- it was just this single spectrum that stood out to me in stage 11 of the weblog (highlighted by red box below). Looks like it's identified line emission at the edge where there isn't any, and so the baseline has gone kinda wonky, no?

![spectral_plot_after_subtraction_uid___A002_Xfddca6_X236b ms atmcor_Sgr_A_star_ant0_spw25_pol0](https://user-images.githubusercontent.com/

[2022-09-29 13:07] keflavich commented on #235
I unmitigated in https://github.com/ACES-CMZ/reduction_ACES/pull/270

[2022-09-29 15:59] keflavich opened #271 "Execution Block ID uid://A001/X15a0/X15e Sgr_A_st_af_03_TP"
Sgr_A_st_af_03_TP
[uid://A001/X15a0/X15e](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X15e)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_af_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsbur

[2022-09-29 15:59] keflavich opened #272 "Execution Block ID uid://A001/X15a0/Xf4 Sgr_A_st_o_03_TM1"
Sgr_A_st_o_03_TM1
[uid://A001/X15a0/Xf4](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xf4)

* [x] Observations completed?
* [x] Delivered?
* [x] Downloaded? (specify where)
  * [x] hipergator
  * [x] hipergator pipeline run
    * [Pipeline Run 20230119T063541](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs-reimaging/member.uid___A001_X15a0_Xf4/pipeline-202301

[2022-09-29 20:49] ashleythomasbarnes commented on #239
Hmm good spot, but I'm not seeing this in the weblog I checked ([Extra Weblog Sgr_A_st_aj_updated_03_TP_1 -> pipeline-20220912T015630](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_aj_updated_03_TP_1)), are you looking at the original one? I'm not sure why this was rerun though?

[2022-09-30 16:07] keflavich commented on #145
I have a real mystery on hand.  The [weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_as_03_TM1_0/html/t2-4m.html?sidebar=sidebar_stage19&ms=all&subpage=casapy.log) shows that `applycal` was run:

[code]
successfully, but that is evidently false:
[code]

[2022-09-30 16:23] keflavich commented on #145
This is the problem:
[code]

[2022-09-30 16:26] keflavich commented on #145
Second attempt resulted in:
[code]

[2022-09-30 16:26] keflavich commented on #145
I'm running a third attempt now.

[2022-09-30 18:14] keflavich commented on #145
Failed with same result:
[code]

[2022-09-30 18:16] keflavich commented on #145
@piposona @d-l-walker as people inside ALMA, is this a known error?  Or should we try to raise a ticket about it?

I think this indicates a fundamental problem in the calibration tables.

[2022-09-30 22:29] piposona commented on #145
Hi @keflavich , this is clearly not normal. We can either raise a ticket or as in previous cases, I can try to reproduce it if you want.
My first guess, as usual is to blame the CASA version, which was  CASA version: 6.2.1-7  for the delivered package.
Will try to start downloading the data from globus, in case I can play with it.

[2022-09-30 22:33] keflavich commented on #145
Perfect, yes.  For the record, these are the tarfiles:
[code]
I'll post an `md5sum` when it's done.

[2022-09-30 22:42] piposona commented on #145
Damn, the tarballs! I forgot, and I was downloading the directories!!! Ok, restarting the download. Will keep you posted.

[2022-09-30 22:51] keflavich commented on #145
[code]

[2022-10-04 20:27] qzhang99 commented on #174
Calibration okay, continuum IDs fine. SPWs 20 and 22 reached max iterations, and SPW 24 diverged.

[2022-10-04 21:17] keflavich commented on #158
recleaned files have been moved to `data/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/group.uid___A001_X1590_X30a9/member.uid___A001_X15a0_X198/member.uid___A001_X15a0_X198_reclean/`

[2022-10-05 01:33] qzhang99 commented on #181
![uid___A002_Xfbb9c7_X9234 ms hifa_timegaincal s17_2 spw16_18_20_22_24_26 solintinf gpcal tbl-spw20-antCM03-TARGET_CHECK-phase_vs_time](https://user-images.githubusercontent.com/83188373/193960373-c86cd064-f411-4de7-b2e8-ac5591d8aee5.png)

[2022-10-05 01:35] qzhang99 commented on #181
Phase jump in gain calibrator for Ant CM03. Data between the jump should be flagged

[2022-10-05 10:10] d-l-walker commented on #242
Calibration and imaging look great for this.
- Very little continuum structure detected.
- Plenty of line emission, HNCO in particular looks great.

Spectral averaging due to size mitigation, so the cubes will need to be recleaned at native resolution.

I also noticed that the image size and cell size have been adjusted for size mitigation. AFAIK, this is not seen commonly in other cases of size m

[2022-10-05 13:18] keflavich opened #276 "Jointly Image Sgr B2-adjacent fields: 7M"
Fields i, j, b, m all border on Sgr B2 N/M.  They should be jointly imaged to minimize edge-of-field effects.

[2022-10-05 13:20] keflavich commented on #276
https://github.com/ACES-CMZ/reduction_ACES/issues/162
https://github.com/ACES-CMZ/reduction_ACES/issues/110
https://github.com/ACES-CMZ/reduction_ACES/issues/181
https://github.com/ACES-CMZ/reduction_ACES/issues/37

[2022-10-05 15:15] keflavich opened #277 "Pipeline issue - hm_rasterscan"
I'm not clear what this error is.   I've never seen it before.  Based on the name, I suspect it might be from the TP pipeline?

[code]

[2022-10-05 15:16] keflavich commented on #277
(but we're not supposed to be running the TP pipeline...)

[2022-10-06 06:08] keflavich opened #278 "Execution Block ID uid://A001/X15a0/Xf8 Sgr_A_st_o_03_TP"
Sgr_A_st_o_03_TP
[uid://A001/X15a0/Xf8](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xf8)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_o_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-10-06 17:37] piposona commented on #145
I run the in CASA  and found a different problem
[code]
Just got this error so trying to figure out whether I downloaded the wrong data. These are the files I downloaded:
[code]
which are the files you suggested @keflavich , plus the raw data files.

[2022-10-06 18:22] keflavich commented on #145
OK so these data are borked.

I think we need a helpdesk ticket on this one?

[2022-10-06 19:46] piposona commented on #145
I can ask around here but I would say so. I can try with your pipeline version just to triple check, but there is something wrong about it, definitely.

[2022-10-06 19:49] piposona commented on #145
Actually, not, the 6.4.3-2  pipeline version does not exist in my Lustre. You must have some connections to high powers to get this installations :D

[2022-10-06 20:35] piposona commented on #145
Confirmed with the people here. Although I will consult one of the experts, on these kind of problems the fastest way is to open a helpdesk.

[2022-10-07 16:17] keflavich commented on #242
Yes, we'll want to fix this.  We don't want any size mitigation at all.

This one failed in the pipeline restore run with a very weird problem:
[code]
It didn't even create the `calibrated/` directory!

This is super weird.  I assume it's caused by the ASDMs being absent... I'll see if that's true.

[2022-10-11 19:37] abulatek commented on #271
Looked over weblog today.
- [5. hsd_skycal:](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TP_0/html/t2-4m.html?sidebar=sidebar_stage5&ms=uid___A002_Xfb8480_X1264c.ms) Warning: Elevation difference between ON and OFF for uid___A002_Xfb8480_X1264c.ms field Sgr_A_star antenna PM01 spw 17 was 3.7672334573645188deg exceeding the threshold 3.0deg.
   - Applies for

[2022-10-11 19:42] abulatek commented on #175
Looked over weblog today.
- [5. hsd_skycal:](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TP_0/html/t2-4m.html?sidebar=sidebar_stage5&ms=uid___A002_Xfb8480_X1264c.ms) Warning: Elevation difference between ON and OFF for uid___A002_Xfb8480_X1264c.ms field Sgr_A_star antenna PM01 spw 17 was 3.7672334573645188deg exceeding the threshold 3.0deg.
   - Applies for

[2022-10-11 19:42] abulatek commented on #271
(Sorry, posted on wrong EB!)

[2022-10-11 20:13] abulatek commented on #175
That was all for the first weblog: [Extra Weblog Sgr_A_st_c_03_TP_0 -> pipeline-20220719T234420](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TP_0)

[2022-10-11 20:18] abulatek commented on #175
For the second weblog, [Extra Weblog Sgr_A_st_c_03_TP_1 -> pipeline-20220802T044920](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TP_1), the first error (by task) is in [1. hifa_importdata](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_c_03_TP_1/html/stage1/t2-4m_details-container.html).

Task summary page says "calibrators

[2022-10-11 20:19] abulatek commented on #175
First weblog was processed in CASA 6.2.1.7. Second weblog was processed in CASA 6.4.3.2.

[2022-10-11 20:22] abulatek commented on #175
Sorry for all the separate comments! Another difference: first weblog ms sizes are reported in GB, second weblog ms sizes are reported in GiB. But they are for observations at the same time, in general.

[2022-10-11 21:08] keflavich opened #279 "Scheduling Blocks that failed to restore"
Each of these SBs appears to have some failure in the restoration, though some of them are marked as OK

- [ ] https://github.com/ACES-CMZ/reduction_ACES/issues/145
- [ ] https://github.com/ACES-CMZ/reduction_ACES/issues/114
- [ ] https://github.com/ACES-CMZ/reduction_ACES/issues/134
- [ ] https://github.com/ACES-CMZ/reduction_ACES/issues/132

These are the black fields in this image:
![image](htt

[2022-10-12 03:45] SpacialTree commented on #224
Reviewing the second [weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_l_03_TP_0/).

- [(5) hsd_skycal (?)](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_l_03_TP_0/html/t2-4m.html?sidebar=sidebar_stage5&ms=all&subpage=t2-4m_details.html): Warning! Elevation difference between ON and OFF for uid___A002_Xfcc484_X979a.ms field S

[2022-10-12 10:34] d-l-walker commented on #259
I'm doing the QA2 for this SB, and it has a similar issue to #126 in that it is an irregular and elongated mosaic. It's not quite as severe as the other instance, but the PSF is still just outside the mosaic and causing the synthesised beams to misbehave. I'm going to do the manual imaging at the QA2 stage for this, which will take a while, but I just wanted to flag this.

[2022-10-12 12:38] keflavich commented on #222
There was another pipeline crash.  I don't know what this means but it likely means the pipeline products are not available.
[code]

[code]

[2022-10-12 13:16] keflavich commented on #242
@piposona could you have a look at this one too?  Basically, does the pipeline work when you run it?

[2022-10-12 13:22] d-l-walker commented on #279
I'm a bit confused about #132 being in this list. I can see that in the image you've posted that it doesn't look right. But this is one that I reviewed and marked as 'Done', the images in this version of the weblog produced look OK to me?

https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_ae_03_TM1_0/html/t2-4m.html?sidebar=sidebar_stage38&ms=all&subpage=t2-4m_details

[2022-10-12 13:41] snlongmore commented on #145
I have just raised a helpdesk ticket number 20676 and cc'd @keflavich and @ashleythomasbarnes.

[2022-10-12 13:41] piposona commented on #145
Just contacted the right person now and he is looking into this. Still, the ticket was relevant.

[2022-10-12 13:42] abulatek commented on #175
Regarding:

Ash suggested we download the data and look at them to confirm that there are no central pixels that are masked.

Here is the max intensity map for spw21, the one affected in the above warning:
![image](https://user-images.githubusercontent.com/28034735/195357660-43ab3bc5-3b72-48b8-b7df-e02c299d250b.png)
Looks like the bottom corners are flagged (?). This is also true for a few other s

[2022-10-12 13:44] piposona commented on #242
Downloading. @keflavich , can you confirm the following files are in globus? I cannot find them, and they are required for the restoring of this one.
uid___A002_Xfdf45f_X4f4.asdm.sdm.tar
uid___A002_Xfdf45f_X38ff.asdm.sdm.tar

[2022-10-12 14:05] keflavich commented on #279
Yes, exactly, that's the problem: the pipeline run here failed for reasons unknown.

[2022-10-12 14:05] keflavich commented on #175
If the corners are flagged, I think we're in the clear, so that's good.  It would be best to confirm this by checking the FITS cubes if possible.

[2022-10-12 14:08] keflavich commented on #242
Well if they're missing, that's the problem.  But I see:
[code]
they follow a different naming convention (they have the program ID at the front), but they're there.

[2022-10-12 14:10] keflavich commented on #150
@djeff1887 could you report what you did on your Charlottesville visit here?  Especially what imaging parameters you (successfully) used for spw33?

[2022-10-12 14:16] keflavich commented on #242
It is possible this actually did restore correctly when I re-re-ran the pipeline:
[code]
To be sure, we have to check the images and do some more checks on the MSes.  It looks like the pipeline did eventually core dump:
[code]
but based on the `IMAGING_WEIGHT` and `TempLattice` debris it left behind, I think that happened during the late imaging stage and is not a concern.

[2022-10-12 15:06] piposona commented on #242
Totally right, i missed that!

[2022-10-13 09:55] d-l-walker commented on #132
Removed the 'Done' label from this. SPW 33 was cleaned, but the data look uncalibrated (see #279).

[2022-10-13 16:39] keflavich commented on #242
Unfortunately I think this makes it a more severe problem.  We can't use 6.2.1-7 because of an error - my note in the pipeline runner is "# 6.2.1 is the 2021 release version, but it contains the readBlock error". I'll have to look up what that means... _maybe_ I can regress to 6.2.1.7, but not definitely.

[2022-10-13 17:18] piposona commented on #242
Ok, let me know how to proceed. Happy to process those giving problems, rather than spending time figuring out the issues with CASA versions.

[2022-10-13 17:19] piposona commented on #145
Just some heads up, following the ticket with the responsible person here at JAO. Apparently the restoration worked ok for him but not for me...work in progress.
He run CASA 6.4.1 while i did it in 6.2.1.
I am currently running it again in 6.4.1. If it works...ok
if it does not work I will check downloading the asdms again, in case there is a problem with the data themselves.
Anyway, working on it

[2022-10-13 18:00] keflavich commented on #242
yeah, go ahead and upload the MS - at least we can get cubes.  But we still need to get to the bottom of this _eventually_

[2022-10-14 21:13] piposona commented on #242
@keflavich , I have just uploaded the .ms and the .msflagversion to the following directory
``
/upload/member.uid___A001_X1590_X30aa/
``
Let me know if you want to try to get the root cause of this issue. I will not delete the data for the time being.

[2022-10-14 21:25] keflavich commented on #242
Thanks!  Do you also have the `_target.ms` split?

[2022-10-14 21:28] piposona commented on #242
For some reason this is not generated. There is a parameter in the scriptForPI which is by default
``
dosplit = False
``
I could run it again with the parameter to True

[2022-10-14 21:34] keflavich commented on #242
hmmm... it shouldn't _just_ be caused by dosplit, b/c the `_target.ms` includes the continuum subtracted data; did your run do the cont sub?

[2022-10-14 21:37] piposona commented on #242
Just run the script as is...that is
``
docontsub = False
``
this can be edited or overridden with global parameters, but just run it as is.
Happy to repeat as needed.

[2022-10-14 21:40] keflavich commented on #242
that's weird - I see that `docontsub` is set to `False` as you say, but it produces the split `_target.ms` for every other field.  I don't think I've specified any kind of override.

[2022-10-14 21:48] piposona commented on #242
This is indeed weird. During the investigation of issue #145, we found a similar difference between the person running the script in the data processing cluster and my running it in a different machine. And apparently there were no global variables overriding the script defaults.
I will further investigate with the person in charge of the #145 investigation

[2022-10-17 13:08] piposona commented on #145
Ok here the summary of my tests:

1. Run pipelin in casa 6.2.1 did not work
2. Run pipeline in casa 6.4.1 did not work
3. Suggested by the person in charge of the filed ticket, i re-downloaded the ASDMs with asdmExport command which directly downloads the data from JAO archive. I then run the pipeline in casa 6.4.1 and **IT DID WORK**

So, somehow, the asdm data were corrupted in this case, causin

[2022-10-17 13:34] keflavich commented on #242
The issues for this field appear to be resolved; the rerun mentioned in https://github.com/ACES-CMZ/reduction_ACES/issues/242#issuecomment-1276255117 was successful and images have been produced from the reimaging scripts:
[code]

Let's keep an eye on this one though.

It's the funniest-looking footprint you've ever seen, but it's pretty:
![image](https://user-images.githubusercontent.com/143715/1

[2022-10-17 13:40] keflavich commented on #145
Thanks @piposona.  I'm totally removing all of the tarballs & extracted files and starting over.

[2022-10-17 15:08] djeff1887 commented on #150
@keflavich I used the tclean command from spw31 (with the tweaks you made on Aug 22) to image a concatenated ms with multiscale clean using scales that were multiples of 5. I also had `cyclefactor=2`, although that was also directly from the pipeline. My tclean command is below.

[code]

[2022-10-17 15:47] piposona commented on #242
Ok, I see. I had not realized that you had finally made it work and the data had been properly restored. Somehow I had totally ignored this comment https://github.com/ACES-CMZ/reduction_ACES/issues/242#issuecomment-1276255117
So I assume that the data that I uploaded were not needed. I was now producing the splitted versions.

Let me know if any action is needed on my side.

[2022-10-19 12:25] xinglunju commented on #152
Calibration
----
Looks fine in general. There are a few flaggings (Tsys, bandpass, phase calibration, etc.), which seem reasonable.
- Step 19. hif_applycal: large scatter in phase vs time for one scan in the EB uid___A002_Xfda0c7_Xacb5.ms. See plot below:
![image](https://user-images.githubusercontent.com/3944252/196689817-56f1e67e-89d4-46fe-bbe2-80622f328ace.png)
- Step 21. hif_makeimages (cals):

[2022-10-19 12:55] xinglunju commented on #238
Calibration
----
Looks fine in general.
- Step 19. hif_applycal: there is a warning/note--Phase vs frequency outliers. See plot below (toward the phase calibrator J1744, SPW 35 for EB uid___A002_Xfddca6_Xe2c.ms). I don't how this could happen or if it causes any problem.
![image](https://user-images.githubusercontent.com/3944252/196694398-59a22699-6b2e-4259-b848-89a4432dccf4.png)

Continuum imagin

[2022-10-19 13:27] keflavich commented on #136
@qzhang99 could you update the .json files with the appropriate un-mitigated sizes?

[2022-10-19 13:29] keflavich commented on #135
@SpacialTree could you do the reimaging for this field?

[2022-10-19 13:30] keflavich commented on #153
@SpacialTree let's go over this together in a meeting and see if it's Done

[2022-10-19 13:35] keflavich commented on #28
Could one or more of the assignees (@thusharags @abulatek @xinglunju @ashleythomasbarnes @d-l-walker) check the reimaged data?

[2022-10-19 13:36] d-l-walker commented on #28
@keflavich I'll take a look

[2022-10-19 13:40] keflavich commented on #130
@snlongmore could you check that the size-unmitigated cubes look good and exist?

[2022-10-19 13:42] keflavich commented on #8
@pyhsiehATalma @djeff1887 could you verify that the reimaged products exist and look good, then we'll mark this done?

[2022-10-19 13:43] keflavich commented on #33
@ashleythomasbarnes can you update us on the status of this one?

[2022-10-19 13:44] keflavich commented on #150
@djeff1887 could you make sure the successful imaging parameters are in the override_tclean_commands.json file and that they have been run correctly?

[2022-10-19 13:44] keflavich commented on #109
@xinglunju could you verify that the re-imaged, un-mitigated cubes exist and look good?

[2022-10-19 13:46] keflavich commented on #159
Updated parameters in #258.  Todo: check whether reimaged images exist.

[2022-10-19 14:17] keflavich commented on #247
Had a very hard crash in the reimaging step of the pipeline run:
[code]

[2022-10-19 15:59] d-l-walker commented on #222
@keflavich any updates on this? I can see the reprocessed products now, so it looks like this completed successfully? The only outstanding issue was SPW20, which now looks good in the reprocessed cube, but I just wanted to check before moving this to the completed column.

[2022-10-19 20:31] pyhsiehATalma commented on #8
@keflavich @djeff1887

reclean of divergent spw 24 (channel 701) exist in **Reprocessed Product Links**, but channel 701 still diverged.
uid___A001_X15a0_X114.s13_0.Sgr_A_star_sci.spw24.cube.I.iter1.image.pbcor.fits

In globus data path, the reclean products exist looks good (no divergence), but the files were wrongly named to *iter0*.

/data/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/grou

[2022-10-20 06:58] d-l-walker commented on #222
Reprocessed data look good now -- setting this as 'Done'.

[2022-10-23 14:04] keflavich commented on #256
Pipeline crashed with a large core dump:
[code]

[2022-10-23 14:06] keflavich opened #282 "Pipeline crashes when running ALMA pipeline"
* https://github.com/ACES-CMZ/reduction_ACES/issues/247#issuecomment-1284092590
 * https://github.com/ACES-CMZ/reduction_ACES/issues/256#issuecomment-1288120631

Both of these crashed during a tclean stage, which likely means everything is OK, but we won't have some of the original cubes on disk.  I'll continue to track these crashes here.

[2022-10-24 08:10] keflavich opened #284 "Execution Block ID uid://A001/X15a0/X104 Sgr_A_st_q_03_TP"
Sgr_A_st_q_03_TP
[uid://A001/X15a0/X104](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/X104)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_q_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/

[2022-10-24 08:11] keflavich opened #285 "Execution Block ID uid://A001/X15a0/Xbc Sgr_A_st_e_03_TP"
Sgr_A_st_e_03_TP
[uid://A001/X15a0/Xbc](https://almascience.org/aq/?result_view=observation&mous=uid://A001/X15a0/Xbc)

* [x] Observations completed?
* [ ] Delivered?
* [ ] Downloaded? (specify where)
  * [ ] hipergator
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_e_03_TP/html/) unpacked
* [ ] [Weblog](https://data.rc.ufl.edu/secure/adamginsburg/AC

[2022-10-24 16:30] d-l-walker commented on #28
@keflavich I checked the reprocessed continuum & all SPWs -- everything looks good. However, the cubes need to be re-cleaned at native spectral resolution still. I have a backlog of SBs for which I need to upload the channel parameters to the .json file for re-cleaning at the native resolution, so I'll add this to the list. I plan on going through them all tomorrow.

[2022-10-24 21:37] SpacialTree commented on #224
There's some confusion about the spectral window numbers here, since the TP products use a different set of numbers to the interferometric, which was used to set up the task checklist for imaging lines.

 SPW16 H13CN = SPW17
 SPW18 H13CO+/SiO = SPW19
 SPW20 HCO+ = SPW21
![image](https://user-images.githubusercontent.com/23216784/197634195-af417091-1b0d-4d8a-81b2-5767ad93eb58.png)
Interesting absor

[2022-10-24 22:18] SpacialTree commented on #217
First Weblog is the one that ran on the correct settings (Total Power, not interferometric)

- [(5) hsd_skycal (!)](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_u_03_TP_0/html/stage5/t2-4m_details-container.html): Warning! Elevation difference between ON and OFF for uid___A002_Xfce28e_X399d.ms field Sgr_A_star antenna PM01 spw 17 was 3.795650529477939deg exceedin

[2022-10-24 22:21] SpacialTree commented on #217
Most of the images seem to have their emission concentrated along the top of the image:
![image](https://user-images.githubusercontent.com/23216784/197640845-375e2861-e60b-474a-80c1-9e330c5eb7bd.png)(SPW17 Combined)

[2022-10-25 10:53] d-l-walker commented on #256
Overall this looks pretty good.
- SPW 33 dropped for size mitigation, so this will need to be imaged during the reprocessing.
- The beam is unfortunately quite large -- 2.18 x 1.45 arcsec for the continuum. This just about meets the criteria (our range is 1.2" - 1.8"), so ultimately is a QA2 pass. The QA2 assessment is also based on the MFS image of the representative SPW (SPW 35 for 12m), which h

[2022-10-25 15:01] xinglunju commented on #244
Overview
----
The data and images are all good so I would mark this one as 'done'.

New feature of the pipeline?
----
- Each task shows a QA summary with scores, which are very helpful.
![image](https://user-images.githubusercontent.com/3944252/197795473-5072c9e7-3643-4a93-8598-5845683a56f5.png)
- More information in the imaging results (task 38), e.g., beam sizes in all the channels.

Calibration

[2022-10-26 05:53] xinglunju commented on #240
Calibration
----
All look good.

Continuum imaging
----
- Task 31. hif_findcont does not show line-free identification results, but based on the plots in task 38 (image cubes), the line-free channel identification is ok, and can be improved.
- The continuum image looks good, the Arched Filaments (in the top) and several HII regions can be seen:
![image](https://user-images.githubusercontent.com/39

[2022-10-26 06:18] abulatek commented on #175
Looked over this cube:
[code]
Besides the first and last ~120 channels being NaNs, it's just those two pixels in the lower left corner in every channel that are flagged. Nothing in the center.

[2022-10-26 10:11] d-l-walker commented on #165
The issue that I noted earlier is very minor. Given that there are more significant issues with other SBs that are pending, I'm going to set this as 'Done'. I will still try to get around to recleaning the continuum for this at some point, but it's pretty low-priority.

[2022-10-26 13:11] keflavich commented on #8
I've moved the `iter1.image` files to the `old/` subdirectory.  This will re-run clean next time I run everything.  @pyhsiehATalma can you verify that the correct parameters are in `override_tclean_params.json`?

[2022-10-26 13:19] abulatek commented on #175
Currently checking the other spws (realized I checked the wrong one).

[2022-10-26 13:48] keflavich commented on #28
The un-size-mitigated parameters are only present for spw33, but it looks like they're needed for other windows too:
https://github.com/ACES-CMZ/reduction_ACES/blob/main/aces/pipeline_scripts/override_tclean_commands.json#L211-L220

[code]

[2022-10-26 16:13] d-l-walker commented on #232
@keflavich now that #287 has been merged, this region will need to be re-cleaned with the updated parameters to get the full cube resolution.

[2022-10-26 16:17] keflavich commented on #232
moved all old files to `mitigated_old/` subdirectory.  Re-imaging will trigger soon.

[2022-10-27 10:40] d-l-walker commented on #124
SPW 33 has now been imaged and it looks good (max. intensity map below). Marking this one as done.

![Screenshot 2022-10-27 at 11 38 34](https://user-images.githubusercontent.com/13015266/198263549-4f6fc9b6-23c7-4127-a495-26b04f156a33.png)

[2022-10-28 16:30] pyhsiehATalma commented on #8
@keflavich the re-clean parameters are correct in override_tclean_params.json.

[2022-10-31 10:39] d-l-walker commented on #147
Overall this looks good. Once SPW 33 has been imaged, this should be good-to-go.
Note: this is another instance where the beam size is right at the upper edge of our range, but only because `robust=0` was used.

[2022-11-01 17:29] d-l-walker commented on #126
@keflavich the manual reimaging at full spectral resolution _finally_ finished. I've uploaded all `tclean` output files in `/upload/Sgr_A_st_al_TM1_reclean/`. It's pretty hefty (~ 1.6 TB). I guess the target destination is somewhere in `/rawdata/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/group.uid___A001_X1590_X30a9/member.uid___A001_X15a0_X17e/`.

I'll update the cleaning parameters used

[2022-11-01 17:33] d-l-walker commented on #28
@keflavich I forgot to leave a note on this issue earlier sorry, but the cleaning parameters for this were updated in #289, so this will need to be executed again to re-image at full spectral resolution.

[2022-11-01 18:16] keflavich commented on #28
I moved the old files into `lores_Nov1_2022/` so a new clean should be triggered soon

[2022-11-01 18:17] keflavich commented on #126
I moved the uploaded folder.

I also moved files from `calibrated/working/` into `calibrated/working/lores_Nov1_2022/`.

[2022-11-01 18:18] keflavich commented on #126
Are all the appropriate imaging parameters uploaded?

[2022-11-02 10:45] d-l-walker commented on #126
@keflavich not yet, in progress. This was manually imaged during QA2, so we don't have any of the parameters in `default_tclean_commands.json` yet. I will need to manually add all of the parameters to `override_tclean_commands.json`

[2022-11-02 12:47] ksi85 commented on #251
Bandpass: Deep dip at edge channel in spw33 for two antennas
![image](https://user-images.githubusercontent.com/96302794/199493402-1ef4794b-c58d-461d-b102-08c99ea46d79.png)
![image](https://user-images.githubusercontent.com/96302794/199493516-6696bb77-6d2d-4e4c-8dcc-f56b7d87d591.png)

[2022-11-02 12:51] snlongmore commented on #130
Clean diverged at channel 599 to 602.
[
](https://g-76492b.55ba.08cc.data.globus.org///rawdata/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/group.uid___A001_X1590_X30a9/member.uid___A001_X15a0_X16c/calibrated/working/uid___A001_X15a0_X16c.s38_0.Sgr_A_star_sci.spw33.cube.I.iter1.image.pbcor.fits)

[2022-11-02 12:53] snlongmore commented on #130
Imaging artefacts at channel 602 to 605.

![Capture d’écran 2022-11-02 à 11 47 12](https://user-images.githubusercontent.com/12394899/199494537-c183a224-da4a-4c91-9ec6-0293d6ada0b6.png)

[2022-11-02 12:59] xinglunju commented on #244
Update on the imaging
----
- A second look at the cube of SPW24 suggests that there is a diverging channel... I will revoke the 'done' label and add this SB to the re-imaging script.

[2022-11-02 19:02] mpound commented on #149
Although the latest FITS cubes indicate tclean ran after the merge above, the tclean does not appear to have used the updated parameters.   The divergence in SPW27 is still present in channels 359-361 that had come out fine in my test.
The FITS header says tclean for SPW27 ran on 2022-09-23 which was a week after merge #250. Yet here's channel 360:
![chan360bad](https://user-images.githubuserconte

[2022-11-03 00:06] keflavich commented on #149
yes, modification dates on those are old, so I'd believe it
[code]

[2022-11-03 13:42] pyhsiehATalma commented on #262
Ripples in spw 27 (almost all EBs)

![spectral_plot_after_subtraction_uid___A002_Xfed4ee_Xee4 ms atmcor_Sgr_A_star_ant3_spw27_pol1](https://user-images.githubusercontent.com/95929782/199736423-b27ecdd5-4c8d-4aa9-8341-b4ed5ba484a4.png)

[2022-11-03 13:45] pyhsiehATalma commented on #262
negative emission in spw 21 (HCO+). I have a feeling that it is due to baseline subtraction as we can see the baseline of HCO+ around 89.155 GHz is also negative, but not much we could do in this case unless we redo baseline subtraction. It doesn't help much though.

![uid___A001_X15a0_X110 s13_50 Sgr_A_star_sci spw21 cube I PM04 iter0 image sd pol0_ChannelMap_6](https://user-images.githubusercont

[2022-11-03 13:49] pyhsiehATalma commented on #262
@keflavich  excepts two issues reported above, I didn't find anything wrong. I moved this SB to "Completed execution blocks (imaging, QA, calibration all done)". Please let me know if the workflow is ok.

[2022-11-03 14:06] keflavich commented on #262
Yes, this seems fine.  At least, these are done until we come up with a better way to handle baseline subtraction

[2022-11-03 14:55] keflavich commented on #149
these are the parameters online:
https://github.com/ACES-CMZ/reduction_ACES/blob/689c8f4830a9b3d5a68fa9294fea35f5301bd543/aces/pipeline_scripts/override_tclean_commands.json#L2473-L2478

https://github.com/ACES-CMZ/reduction_ACES/blob/689c8f4830a9b3d5a68fa9294fea35f5301bd543/aces/pipeline_scripts/override_tclean_commands.json#L2485-L2490

Are they right?  Looks like they've been modified from defa

[2022-11-03 15:41] mpound commented on #149
Yep, those are the parameters I had tested locally which fixed the divergence issues.

[2022-11-03 15:47] mpound commented on #149
Aha -- the FITS header gives the answer.  For SPW 29
HISTORY pbmask      = 0.5
And fHISTORY pbmask      = 0.0
for the others:
HISTORY pbmask      = 0.0

So 27 and 31 still need re-run with the new params

[2022-11-03 18:05] mpound commented on #19
These still need to be run with the updated tclean parameters. Latest FITS headers for SPW24 and 26 still show cyclefactor=1.0.

[2022-11-03 18:10] keflavich commented on #149
they're running
[code]

[2022-11-03 18:39] keflavich commented on #19
in the queue:
[code]

[2022-11-03 18:59] mpound commented on #30
Were these observations ever delivered?

[2022-11-07 21:27] abulatek commented on #175
Couldn't find that file anywhere in the ACES data; the only results for the following search in `/orange/adamginsburg/ACES`
[code]
were .png files in the `/rawdata/2021.1.00172.L/weblogs/pipeline-20220719T234420/` directory. So I looked at this one instead, which was in the same parent directory as the other cube I looked at:
[code]
Looks qualitatively identical to the other cube I looked at (spw2

[2022-11-08 13:01] xinglunju commented on #241
There is already a re-imaging argument for this SB in the json file, probably added by other folks. But it is only for SPW33. Should I just overwrite that one, or add a new argument for the other SPWs? @keflavich

[2022-11-08 14:00] keflavich commented on #241
If the parameters need to be modified, just overwrite them.  SPW33 was auto-generated, so it makes sense that it needs new arguments.

There are image products, though:
[code]

[2022-11-08 14:04] keflavich commented on #238
These files all exist:
[code]

[2022-11-08 15:06] keflavich commented on #241
`spw33` is in that list, so no, these are not from the pipeline that dropped it.  The modification dates are October, so I believe these all come from the post-rebinning pipeline.  However, to make this easier to look up, I'm running our [`cube_stats_grid.py` script](https://github.com/ACES-CMZ/reduction_ACES/blob/main/aces/analysis/cube_stats_grid.py) so we can check easily.

[2022-11-08 15:55] xinglunju commented on #241
I don't think so... the files with modification dates in October are mom0 fits, but the image products themselves are still from Sep. This SB does have spw33, even in the original pipeline--in the last comment I meant to refer to the other SBs with the same issue (#238 #152 ) that have dropped spw33

[2022-11-08 23:14] keflavich commented on #152
all spws are present:
[code]

Stats still haven't finished running though so I can't verify sizes yet:
https://data.rc.ufl.edu/secure/adamginsburg/ACES/tables/cube_stats.js.html

[2022-11-08 23:15] keflavich commented on #241
Ah... yes, this one has modification dates of September.  #238 and #152 have more recent modification dates.  Still waiting on stats to finish to see if these have the right sizes
https://data.rc.ufl.edu/secure/adamginsburg/ACES/tables/cube_stats.js.html

[2022-11-09 02:03] keflavich commented on #114
Looks like the files on disk are OK now:
[code]

[2022-11-09 02:09] keflavich commented on #145
These data are still undergoing reimaging, but the pipeline seems to have worked further - it crashed in a tclean step, which implies that the .ms was created correctly.  Still need to inspect the data, but looks like there's a good chance this one is OK now.

[2022-11-09 02:14] keflavich commented on #134
In the line mosaics, it looks like these data are in a broken state.  All of the images look blank.  @bazarsen could you have another look at these?  I'm going to delete the bad ones.

[2022-11-09 02:18] keflavich commented on #134
I also need to delete the entire calibrated directory and re-run the pipeline

[2022-11-09 02:25] keflavich commented on #132
I deleted the 'calibrated' directory and am re-running the pipeline.

[2022-11-09 02:27] keflavich commented on #132
the failures included:
[code]

[code]

Both of these indicate fundamentally corrupted data, so a rerun is necessary, and maybe a re-download.  We'll see.

[2022-11-09 02:29] keflavich commented on #134
The pipeline failures included:
[code]

[code]
which is an identical failure mode to #132

[2022-11-09 03:09] keflavich commented on #282
Both of these have the same problem: The pipeline resulted in clean  parameters that look for MSes like:
`['uid___A002_Xfe3986_X9083s_line.ms', 'uid___A002_Xfe62c1_X1871s_line.ms']`
which don't exist.

I'm deleting & rerunning both

[2022-11-09 09:31] d-l-walker commented on #256
@keflavich from the PL guide:

So if you're using the latest PL version, then we will need to use the `*line.ms` files for the cubes. But if you're using the previous PL version, then just overriding the names should hopefully work?

My understanding is that this new naming convention is in preparation for self-cal eventually being built in to the PL. This way, they have separate MSes for cont-sub

[2022-11-09 12:28] keflavich commented on #256
This is odd; I haven't changed the pipeline version.

We can work around the name change easily enough if this really is just a name change.  The problem is that the `_line.ms` files do not exist.

[2022-11-09 14:16] keflavich commented on #282
Per [Dan's note](https://github.com/ACES-CMZ/reduction_ACES/issues/256#issuecomment-1308467622), this comes from the ALMA pipeline run using a newer version.

Per discussion on telecon, we can just continue using 6.4.3.2 but change the  .ms names.

[2022-11-09 14:19] keflavich commented on #251
Reimaging scripts for this data set do not exist.  Not clear why.

[2022-11-10 08:33] xinglunju commented on #241
@keflavich I confirm that all the six SPWs are still 2x binned in Globus. We need to re-image with new parameters (or re-run the hipergator version?)

[2022-11-10 08:38] xinglunju commented on #238
@keflavich SPW33 has the correct cube size (3840 channels), and there is an overwrite argument in the json file. The other SPWs are 2x binned.

[2022-11-10 08:39] xinglunju commented on #152
@keflavich All the SPWs are 2x binned and need re-imaging.

[2022-11-10 13:54] keflavich commented on #241
are the `override_json` commands correct?

[2022-11-10 13:55] keflavich commented on #238
for the non-spw33 bands, are the override_json commands correct?

[2022-11-10 13:55] keflavich commented on #152
are the override_json commands correct?

[2022-11-10 15:43] xinglunju commented on #241
There is an overwrite_json command for SPW33, but not for other SPWs.
This is something that confused me: if you check the tclean commands in [hipergator pipeline](https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs/humanreadable/Sgr_A_st_u_03_TM1_1/html/t2-4m.html?sidebar=sidebar_stage12&ms=all&subpage=t2-4m_details.html), the nchan keywords have the correct values without binning, so can we

[2022-11-10 15:45] keflavich commented on #241
you need to add the override commands to the json file.  While the hipergator pipeline runs happen, they have a failure rate of 100% because CASA MPI doesn't work and there is a time limit on our jobs.  The override_json files specify the final imaging parameters that will be run.

Basically, I had to abandon the CASA/ALMA pipeline because it wasn't flexible enough to work with our computing setup

[2022-11-10 15:50] mpound commented on #149
New cubes look good - no divergent channels.  Marking this as done.

[2022-11-10 18:03] keflavich commented on #117
I can't get spw29 to finish cleaning to save my life.  Even after a complete fresh rerun, with no MPI, it still fails with:
[code]

[2022-11-10 18:35] keflavich commented on #264
This is one of the C9 observations.

It failed on `hifa_importdata`:
[code]

This is a python error that indicates that `hifa_importdata` did not expect to receive a path string.  That makes no sense at all.

[2022-11-11 02:08] xinglunju commented on #241
I see, then I will add the override commands for this SB as well as the other two 12m SBs.

[2022-11-11 18:10] keflavich commented on #264
I believe these data are corrupted.  However, we can't download them again until the ALMA archive allows logins again (the archive is up, but afaict, only works for public data)

[2022-11-12 07:53] xinglunju commented on #238
One more question... should I keep the override command for SPW33 in the json file, or delete it (since it has been run and the image is available)?

[2022-11-12 07:53] xinglunju commented on #152
override_json commands updated for this SB.

[2022-11-12 07:53] xinglunju commented on #241
override_json commands updated for this SB.

[2022-11-12 14:33] keflavich commented on #238
keep it. These commands are our central record of what has been done.

[2022-11-12 14:34] keflavich commented on #241
override_tclean commands were updated in https://github.com/ACES-CMZ/reduction_ACES/pull/295 (@xinglunju - it's good to reference where you made the change)

[2022-11-12 14:34] keflavich commented on #152
override_tclean commands were updated in https://github.com/ACES-CMZ/reduction_ACES/pull/295

[2022-11-13 01:00] keflavich commented on #126
Something strange happened with this one; I think it was working but it stopped working recently.  Maybe because I merged the cube clean parameters?  We needed to also have cont clean parameters.  I'm working on a fix but recording this because I didn't expect it.

[2022-11-13 12:03] xinglunju commented on #136
I took over this one from Qizhou, and modified the override commands in the json file.
- According to the [cube_stats](https://data.rc.ufl.edu/secure/adamginsburg/ACES/tables/cube_stats.js.html) list, SPW33 has been imaged without x2 binning. However, the imaging is diverged. Therefore we need to increase cyclefactor and re-clean it.
- override commands were updated in #296

[2022-11-15 21:07] pyhsiehATalma commented on #219
As usual, ripples appear in all spectral windows and HCO+ has poor baseline, but the maps are ok with the limitation of current calibration.
![spw21](https://user-images.githubusercontent.com/95929782/202025392-829c843c-77ef-46f6-98f6-c2136a6a0a1f.png)
![spw19](https://user-images.githubusercontent.com/95929782/202025396-c798b212-a5ce-4a69-8a2c-2021951acaa2.png)

[2022-11-16 11:52] d-l-walker commented on #140
Just a minor update on this -- the PL re-imaging without size mitigation is currently underway at Manchester.
I didn't update the imaging parameters yet, as I'm using the PL tasks to automatically set the parameters, not manually specifying them. I also made a few changes to the PL re-run (revised continuum selection, higher cyclefactor).

Once all the cleaning has finished, I'll place the files i

[2022-11-16 15:12] keflavich commented on #152
Rerun of cube imaging has been triggered.

We noted on the telecon that the pixel size for the continuum data also need to be updated.

[2022-11-16 15:13] keflavich commented on #282
Fields c, e, aa are imaging now.  Fields s, r, af, d are not and need further investigation - pipeline may still be running.

[2022-11-16 15:19] keflavich commented on #142
Reimaging has been started.  spw35 finished waaaay too fast...

[2022-11-16 16:57] keflavich commented on #41
Moved old cubes to `cubes_pre20221116/` (including spw35 reclean, which may not be necessary).  All reimaging jobs are running.

[2022-11-17 16:20] d-l-walker commented on #235
Updated channel parameters and thresholds for SPWs 25, 27, 29, 31 to undo size mitigation in #301. Once merged, this should be re-run to clean SPWs at native resolution.

[2022-11-17 21:27] keflavich commented on #235
moved old files to `cubes_pre20221117/`.  Triggering new cleans shortly.

[2022-11-18 17:47] d-l-walker commented on #231
@keflavich channel parameters have been updated in #302. Once merged, this region will need to be recleaned to get the cubes at native resolution.

[2022-11-18 21:39] keflavich commented on #231
moved files to `cubes_pre20221118` and started new run for `spw{25,27,29,31,35}`

[2022-11-19 11:28] keflavich commented on #134
Nov 14 pipeline run:
[code]

so it looks like this entire MOUS is a failure.  I'm going to delete _everything_ and try to get it to go fresh.

[2022-11-19 11:33] keflavich commented on #264
Nov 14, pipeline failed to run, but there was no error message.  The log just shows that it spun up, then spun down. `casa_log_mpi_pipeline_member.uid___A001_X15a0_X10c_51377685_2022-11-14_09_45_01.log` for the record, though it's not accessible through globus (the logs live on a different drive)

[2022-11-19 11:54] keflavich commented on #247
These files, from nov 9, are uncalibrated:
[code]

There were no errors in the pipeline log.

The imaging pipeline log has:
[code]

[2022-11-19 12:07] keflavich commented on #247
I don't really get it.  This pipeline log claims that restoredata was successful:

https://data.rc.ufl.edu/secure/adamginsburg/ACES/weblogs-reimaging/member.uid___A001_X15a0_Xb2/pipeline-20221109T051031/html/t2-4m.html?sidebar=sidebar_stage1&ms=all&subpage=casapy.log

[2022-11-19 12:14] keflavich commented on #247
The MSes have both data & corrected data columns that are identical, with values in the range 0.00211 to 0.00275

[2022-11-19 12:23] keflavich commented on #247
I've deleted the `calibrated/` folder and will try again.

[2022-11-22 17:26] d-l-walker commented on #130
I recleaned SPW 33 due to the divergence that Steve pointed out. I just increased `cyclefactor` to 2.0 (added to `override_clean_commands.json` in #305), which solved the issue. A preview of the peak intensity map is shown below.

@keflavich the output files from tclean have been uploaded to `/upload/Sgr_A_st_ai_TM1_reclean/`, and the destination is `/rawdata/2021.1.00172.L/science_goal.uid___A001

[2022-11-22 20:51] keflavich commented on #130
Now in `/orange/adamginsburg/ACES//rawdata/2021.1.00172.L/science_goal.uid___A001_X1590_X30a8/group.uid___A001_X1590_X30a9/member.uid___A001_X15a0_X16c/Sgr_A_st_ai_TM1_reclean/`

[2022-11-23 13:59] d-l-walker commented on #192
I've added 2 more completed regions to this issue. Peak intensity maps shown below. Link to download the FITS cubes can be found at the top of this issue.

## Peak HNCO intensity maps for Sgr_A_st_a (#242)

Left: 12m + 7m + TP, Right: 12m + 7m
![Sgr_A_st_a_12m_7m_TP_HNCO_clean_results](https://user-images.githubusercontent.com/13015266/203564665-b57795ec-41eb-4934-93de-a0b827234c32.png)

## Peak H

[2022-11-25 08:04] keflavich commented on #134
Nov 25 pipeline run ends the same way:
[code]

[2022-11-25 08:24] keflavich commented on #134
Interestingly, this happens on line 1436, which doesn't crash the pipeline - it just keeps going.  I think the pipeline _should_ fail at this point.

I need some expert help here - @d-l-walker @piposona @pyhsiehATalma, this looks like a pipeline problem to me.  Can any of you successfully restore the data?  If so, what are you doing differently?

The first 10,000 lines of the log file are here: (I

[2022-11-25 10:07] d-l-walker commented on #134
Hi @keflavich -- I can try to take a look at this next week. There's a scheduled electrical shutdown at Manchester this weekend, so there's no point in me setting any jobs running now.

My first thought looking at the log file is that you're using CASA Version PIPELINE 6.4.3.2, whereas the delivered data were processed using CASA Version 6.2.1.7. Maybe try restoring the calibration using this pipe

[2022-11-25 14:23] keflavich commented on #134
I can try that.

Could you (anyone) verify the MD5sums of the ASDM files by downloading a fresh copy?

[2022-11-25 17:12] pyhsiehATalma commented on #134
Hi @keflavich, just want to know which asdm you mentioned? The MOUS (X15a0_Xb2) of the log file is Sgr_A_st_d_03_TM1, but this is a issue of Sgr_A_st_g_03_TM1

(casa_log_mpi_pipeline_imaging_member.uid___A001_X15a0_Xb2_52087485_2022-11-21_00_02
_47.first10000lines.log))

Sgr_A_st_g_03_TM1
globus ls $hpg:\~$hpg_pth"member.uid___A001_X15a0_Xc4/raw"
uid___A002_Xf8f6a9_X113a4.asdm.sdm/
uid___A002_Xf8f

[2022-11-25 20:37] keflavich commented on #247
https://github.com/ACES-CMZ/reduction_ACES/issues/134#issuecomment-1327132214, https://github.com/ACES-CMZ/reduction_ACES/issues/134#issuecomment-1327148912, https://github.com/ACES-CMZ/reduction_ACES/issues/134#issuecomment-1327725971 all belong here.

Re: @pyhsiehATalma you are correct, that log file refers to Xb2 and all of the related files belong here.  I must have had two tabs open.

[2022-11-30 14:29] ashleythomasbarnes commented on #8
CASA version 6.2 in re-prossed line .fits header here - continuum is 6.4 though

[2022-11-30 14:38] ashleythomasbarnes commented on #282
Could you provide a download script for one of these and I'll run script for PI?

[2022-11-30 15:27] keflavich commented on #251
Reimaging scripts for this now do exist and the data look fine on disk.  I think this one is going along without trouble.

[2022-11-30 15:28] keflavich commented on #282
No download script - just go to the web and download it from the alma archive.

[2022-11-30 15:33] keflavich commented on #263
I removed `calibrated/` today, as it was empty.  The pipeline should rerun tonight.

[2022-11-30 15:43] keflavich commented on #256
These data look fine on disk now, the problems with MS files are apparently resolved.

There are some divergence issues in the CS cube.

![image](https://user-images.githubusercontent.com/143715/204843002-c0ca0701-0f77-4dfd-9edc-6c7ffc0ca8e6.png)